.group-button {
    text-align:right;
    margin-top:8px;
}
.row div {
    padding:3px;
}
.obrigatorio_span {
    display:none;
}
.obrigatorio {
    color:red;
    font-weight:bold;
    font-size:16px;
}

.obrigatorio ul{
    font-size:14px;
}

.titulo-pagina {
    text-align:center;
}